/*Normas de estilo generales basadas para celulares */


/*etiquetas generales*/

body {
  font-family: 'Ubuntu', sans-serif;
  color: #686868;
  text-align: center;
}

h1 {
  color: white;
  margin: 50px auto 10px auto;
  font-size: 30px;
  line-height: 30px;
}

h2 {
  color: #29C3DB;
}

h3 {
  color: white;
}

section {
  padding: 45px 0;
}

img {
  max-width: 100%;
}

.separador {
  margin: 5% auto;
}



/*pagina de inicio*/

/*barra navegador*/

/*las siguientes normas pisan las predeterminadas por bootstrap*/

.navbar-default {
  position: fixed;
  width: 100%;
  background: #29C3DB;
  border: 0;
  color: white;
  z-index: 30;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-brand:hover {
  color: white;
}

.navbar-default .navbar-toggle:hover {
  background-color: #64DB29;
  border-color:rgba(255,255,255,0.0);
}


.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-nav > li > a {
  color:white;
}

.navbar-nav > li > a {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 20px;
}

/*fin de barra navegacion*/


/*formulario principal*/

.home {
  background: #29C3DB; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #29C3DB, #64DB29); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #29C3DB, #64DB29); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #29C3DB, #64DB29); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #29C3DB, #64DB29); /* Standard syntax */
    overflow: hidden;
}

.form-inicio {
  margin-top: 15px;
}
.registro h3{
  color: white;
  font-size: 25px;
}
/*depende de como se hagan los otros formularios estos estilos se podrán usar nuevamente,
no tengo claro cómo serán por eso no le coloco el estilo a la etiqueta general.*/

.formulario-home input {
  width: 100%;
  height: 45px;
  margin: 15px 0;
  padding: 10px 0;
  border: 1px solid white;
  padding: 10px;
  background-color: rgba(0,0,0,0.0);
  color: white;
}

.formulario-home button {
  width: 100%;
  height: 45px;
  border: 0;
  background: white;
  margin-top: 15px;
}

.formulario-home button i {
  color: #29C3DB;
  font-size: 20px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}

/*fin de formulario principal */
/*formulario registro */
.registro .form-inicio {
  color:white;
  text-align: left;
}
.registro .form-inicio img {
  width: 30px;
  height: 30px;
}
.registro .form-inicio a {
  color: white;
  text-decoration: none;
}
.registro .form-inicio .textoinicio1 {
  width: 250px;
  padding-top: 10px;
  float: left;
}

/*formulario inicio sesion */
.form-inline a:hover {
  color: black;
}
.form-inline {
  text-align: center;
}
.form-inline .checkbox{
  padding-top: 20px;
}

/*destacados*/

.doctor {
  background-color: rgb(240,240,240);
  padding: 10px;
  margin: 20px 0;
}

.elementos-doctor {
  position: relative;
  padding: 10px;
  height: 140px;
}

.elementos-doctor h3, .elementos-doctor p {
  text-align: left;
  margin: 10px;

}

.elementos-doctor h3 {
  position: absolute;
  top: 10px;
  left: 0;
}

.elementos-doctor p {
  position: absolute;
  top: 40px;
  left: 0;
}

.elementos-doctor ul {
  list-style: none;
  position: absolute;
  left: -35px;
  bottom: 10px;
}

.elementos-doctor ul li {
  display: inline-block;
  margin: 0 5px;
}

.elementos-doctor ul li i {
  font-size: 30px;
  color: #686868;
}

.elementos-doctor ul li .activo {
  color: yellow;
}

.elementos-doctor .locacion {
  font-size: 30px;
  color: rgb(200,200,200);
  display: inline-block;
  position: absolute;
  right: 15px;
  bottom: 10px;
}

.elementos-doctor h6 {
  font-size: 20px;
}

/*fin de destacados*/


/*pagina de registro*/

.registro h2, .help h2 {
  margin-top: 50px;
  font-size: 30px;
  line-height: 30px;
  color: white;
}

.registro h3, .help h3 {
  color: white;
  margin-top: 20px;
}

.textoinicio1 p, .textoinicio1 a {
  font-size: 20px;
  display: inline-block;
}

.textoinicio1 a {
  margin-left: 15px;
  font-size: 30px;
}

.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type="file"] {
    cursor: pointer;
    display: block;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.fileContainer p {
  padding: 20px 0;
  font-size: 20px;
  font-weight: lighter !important;
}

/*pagina de inicio de sesión*/

input[type="checkbox"]{
  width: 20px;
  height: 20px;
  border: 1px solid white;
  background: rgba(0,0,0,0.0);
}

.recordarme input, .recordarme p {
  display: inline-block;
  vertical-align: top;
}

.recordarme p {
  margin-top: 15px;
}

.recordarme {
  text-align: center;
}

.check {
  text-align: center;
}

.check a {
  color: white;
}


/*pagina de ayuda*/



.ayuda h4, .ayuda p, .ayuda a {
  color: white;
  text-align: center;
}

.nav-pills li a {
  color: white;
}

.nav-pills li a:hover {
  color: #333;
  background-color: transparent;
}

.nav-stacked {
  opacity: 0;
  position: fixed;
}

/*pagina ofrece*/
.ofrece h1 {
  text-align: center;
}

.ofrece a {
  color: white;
  font-size: 20px;
}

/*footer*/

footer {
  background-color: #333;
  color: #666;
  font-size: 12px;
  line-height: 12px;
  padding: 20px 0;
}
